@import "./_variables.scss";

#about {
    background-image: url(img/lake.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    // padding: 6rem;
}

.about-text1 {
    background-color: rgba($mainRed, $alpha: 0.5);
    padding: 5%;
    margin: auto;
    margin-bottom: 7rem;
    width: 70%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: $secondaryYellow;
}

.about-text2 {
    background: linear-gradient(
        to top, 
        $secondaryRed,
        rgba(255, 0, 0, 0)
      );
      padding: 5%;
      padding-bottom: 5rem;
}

.about-text-title {
    font-family: $mainFont;
    font-size: 4rem;
    color: $mainYellow;
}

.about-text-description {
    font-family: $thirdFont;
    font-size: 1.5rem;
}

.contactUs-section {
    color: $secondaryYellow;
    font-family: $thirdFont;
    font-size: 2rem;
}

// .phoneNumber:visited {
//     color: $secondaryYellow;
// }

@media (min-width:700px) {
    // .about-text1 {
    //     margin: 6rem;
    //     margin-top: 0rem;
    // }

    .about-text-description {
        font-size: 2rem;
    }
}