@import "./_variables.scss";

.chineseCuisine {
  background-image: url("img/dinner.jpg");
  background-position: right;
  background-attachment: fixed;
}

#chineseCuisine {
  // padding: 1.75rem;
  background-color: $mainYellow;
  height: 100vh;
}

#chineseCuisine-Text {
  color: $secondaryYellow;
}

.chineseCuisine-text-description {
  font-size: 2rem;
  font-family: $secondaryFont;
  color: $mainYellow;
  font-style: italic;
  padding: 2rem;
}

.chineseCuisine-text-button {
  font-size: 2.5rem;
  background-color: $mainRed;
  padding: .5rem;
  cursor: pointer;
}

#chineseCuisine-text-button {
    border: none;
    background-color: inherit;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: $secondaryFont;
    text-shadow: .1rem .1rem .1rem $mainRed;
    cursor: pointer;
    color: $secondaryYellow;
    transition: all 0.1s ease-out;
    // font-style: italic;
    letter-spacing: .3rem;
  
}

.chineseCuisine-text-button:hover {
  background-color: $secondaryRed;
  transition: ease-in-out .1s;
}

.categoryOne-image {
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 90%;
  outline: 4px $secondaryYellow solid;
  outline-offset: 1rem;
  transition: ease-in-out 0.25s;
  visibility: hidden;
}

.categoryOne-image:hover {
  outline-offset: 0;
}

.menuSection {
  background-color: $mainYellow;
  padding: 2rem;
}

.menuSection-category {
  text-align: center;
  color: $mainRed;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}


.categoryItems-content {
  margin-right: 5%;
  // margin-left: 5%;
  margin-top: 3%;
  position: absolute;
  top: 0;
  left: 26%;
  height: 85%;
  right: 0px;
  display: none;
  overflow: scroll;
  overflow-x: hidden;
}

[type="radio"] {
  display: none;
}

[type="radio"]:checked ~ label ~ .categoryItems-content {
  // z-index: 1;
  display: block;
}

// [type="radio"]:checked ~ label ~ .menuSection-sideImage {
//   filter: opacity(0.1);
// }

[type="radio"]:checked + label {
  color:$mainRed;
  border-top: 0.5rem solid $secondaryYellow;
}

categoryItems-content-fullCourse {
  display: flex;
  flex-direction: row;
}

.fullCourse-categories {
  color: $mainRed;
  font-size: 2rem;
  font-weight: bold;
  font-family: $mainFont;
  margin-right: 3%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: .5rem solid $mainRed;
}

.fullCourse-categories-item {
  color: black;
  font-size: 1.5rem;
  padding-left: 5%;
  padding-top: 0.7rem;
  font-family: $thirdFont;
}

label {
  display: block;
  padding-top: 1rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
  width: 20%;
  clear: both;
  font-size: 1.5rem;
  font-family: $secondaryFont;
  color: $thirdYellow;

}


.categoryItems-banner-buttons {
  border: none;
  background-color: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: $secondaryFont;
  cursor: pointer;
  color: $mainRed;
  transition: all 0.1s ease-out;
  letter-spacing: .15rem; 
}

.categoryItems-banner {
  display: none;
}

.categoryItems-banner-buttons:hover {
  background: $mainRed;
  z-index: 2;
  color: $mainYellow;
}

@media (min-width: 400px) {
  // #chineseCuisine {
  //   padding: 3rem;
  // }

  .categoryOne-image {
    width: 80%;
  }

  .menuSection-category {
    font-size: 3rem;
    padding: 4rem 5rem;
  }

}

@media (min-width: 700px) {
  label {
    font-size: 2.25rem;
    margin: 3rem;
    padding-top: 2rem;
  }

  // #chineseCuisine {
  //   height: 30vh;
  // }

  .categoryOne-image {
    width: 80%;
    visibility: visible;
  }


  .menuSection-category {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
  }

  .categoryItems-content {
    margin-left: 5%;
    left: 30%;
  }

}

@media (min-width: 1000px) {

  #chineseCuisine {
    // height: 35vh;
    height: 100vh;
    padding: 0;
  }

  .image-front {
    width: 70%;
  }

  .menuSection-category {
    font-size: 4.5rem;
  }

  .menuSection {
    padding: 3rem;
  }

  .categoryItems-banner {
    display: inline;
    background-color: $secondaryYellow;
  }
  
  .categoryItems-top {
    background-color: $secondaryYellow;
    text-align: center;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 3%;
  }
}
