@import "./_variables.scss";



  .two {
    background-image: url("img/EastHarborFront.jpg");
    background-position: top;
  }

  .three {
    background-image: url("img/RestaurantAd.png");
  }

  .four {
    background-image: url("img/RestaurantAd.png");
  }