@import "./_variables.scss";

  .chineseCuisine-background {
    height: 2rem;
    position: fixed;
    z-index: 5;
  }

  .two {
    background-image: url("img/EastHarborFront.jpg");
    background-position: top;
  }

  .three {
    background-image: url("img/RestaurantAd.png");
  }

  .four {
    background-image: url("img/RestaurantAd.png");
  }