@import "./_variables.scss";

.background {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: table;
  }
  
  .text {
    margin: 0;
    color: $mainYellow;
    font-family: $mainFont;
    font-size: 5rem;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    z-index: 2;
    text-shadow: 0.3rem 0.3rem 0.3rem $mainRed;
  }
  .content {
    position: relative;
  } 

  .link {
    text-decoration: none;
    color: inherit;
  }
  