
$mainPink: rgb(255, 0, 0);
$mainRed: rgb(102, 7, 0);
$secondaryPink:  rgb(252, 126, 126);
$mainYellow: rgb(255, 230, 0);
$secondaryYellow: rgb(255, 196, 0);
$thirdYellow: rgb(255, 166, 0);

$mainFont:'Yeseva One', cursive;
$secondaryFont: 'Cinzel', serif;
// font-family: 'Yeseva One', cursive;
// font-family: 'Reem Kufi', sans-serif;
// font-family: 'Rozha One', serif;
// font-family: 'Spectral SC', serif;
// font-family: 'Cinzel', serif;
// font-family: 'Cinzel Decorative', cursive;