@import "./_variables.scss";


#restaurantWelcome-Video {
  position: fixed;
  height: 100vh;
  min-width: 100%;
  z-index: -1;
  // filter: contrast(1.3);
  // filter: brightness(.65);
  background-color: $mainRed;
  object-fit: cover;
  // padding-bottom: 10rem;
}

// #restaurantWelcome-Text {
//   letter-spacing: .5rem;
// }

#restaurantDescription {
  text-align: center;
  background: $mainRed;
  color: $secondaryYellow;
  padding: 6rem 4rem;
  font-size: 2rem;
  font-family: $secondaryFont;
}

@media (min-width: 400px) {
  #restaurantWelcome-Text {
    // letter-spacing: 1rem;
    padding: 10%;
    font-size: 6.5rem;
  }

//   .content {
//     letter-spacing: 0.5rem;
//   }
}

@media (min-width: 700px) {
  
  #restaurantWelcome-Text {                                    
    font-size: 9rem;
    padding: 20%;
  }

  #restaurantDescription {
    font-size: 2.5rem;
  }

}
